body {
    font-family: sans-serif;
}

.alm {
	font-family: sans-serif;
}
.alm-chart-area {
 			font-size: 11px;
}

.axis line,
.axis path {
    fill: none;
    stroke: black;
	stroke-width: 1;
    shape-rendering: crispEdges;
}

.bar.main{
	fill: #789aa1;
}

.bar.alt{
	fill: #304345;
}

.alm-row {
	min-height:150px;
	height:auto !important;
	height:150px;
}

.alm-count-label {
	text-align: center;
}

.alm-count-label a {
    text-decoration: none;
}


.alm-count {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
    margin-left: 5px;
	font-weight: bold;
}

.alm-control {
	text-decoration: underline;
	color: blue;
}

.alm-control.active {
	text-decoration: none;
	color: blue;
}

.alm-control.disabled {
	cursor: default;
	text-decoration: none;
	color: grey;
}